<div id= "page_wrapper">
	<div id="profile_image" class="mt-3">
		<%= image_tag "avatar-12.jpg", :size => "200x200" %>
	</div>
	<div id="content">
		<h1>Its Codetalkertive</h1>
		<p>ghe hga ahgfa ;faha aggaa yhh agakat affmrmr rgwbwrfaj caagag arfhaharhrga agfrgj gfaga 6y hafbakafkha vavaaj ava gafgafg afadfa ahfafa ahahffg  fddf ahafa acfhkaf jga fahad faja agflf acfaag affaga afjay ooodld cafam fallsgaca.</p>
	</div>
</div>

